---
import Page from '../layouts/Page.astro';
---

<Page
	title="About me"
	description="I'm Dan, a.k.a. @danscan. I'm a computing enthusiast, currently the CTO and co-founder of Genesis and the author and principal architect of Passes."
>
	<main class="space-y-5 py-10">
		<h1 class="text-xl">
			About me
		</h1>
	
		<p>
			I'm Dan, a.k.a. <code>@danscan</code>. I'm a computing enthusiast, currently the CTO and co-founder of <a href="https://genesis.xyz">Genesis</a> and the author and principal architect of <a href="https://docs.passes.org">Passes</a>.
			Previously, I was the Head of Engineering at <a href="https://futurism.com">Futurism</a>. I've been living in the text editor for the past 17 years.
		</p>
	
		<p>
			I believe information theory and theory of computation are essential to basic literacy for anyone in the modern world, and that many problems 
			would become much simpler if more people understood these topics. My idea of "retirement" is to devote my full-time attention to writing software and content 
			that makes these topics more accessible.
		</p>
	</main>
</Page>
