---
import Page from '../layouts/Page.astro';
---

<Page
	title="About me"
	description="I'm Dan, a.k.a. @danscan. I'm a computing enthusiast, currently the CTO and co-founder of Genesis and the author and principal architect of Passes."
>
	<main class="prose prose-simple dark:prose-invert prose-headings:font-normal py-14">
		<h1>About me</h1>
	
		<p>
			I'm Dan, a.k.a. <code>@danscan</code> — a computing enthusiast, currently the CTO and co-founder of <a href="https://genesis.xyz">Genesis</a> and the author and principal architect of <a href="https://docs.passes.org">Passes</a>.
		</p>
		<p>
			Previously, I was the Head of Engineering at <a href="https://futurism.com">Futurism</a>. I've been living in the text editor for the past 17 years.
		</p>

		<h2>My work</h2>
	
		<p>
			I believe information theory and theory of computation are essential to basic literacy for anyone in the modern world, and that many problems 
			would become much simpler if more people understood these topics.
		</p>
		
		<p>
			My idea of "retirement" devoting my full-time attention to writing software and content 
			that makes these topics more accessible.
		</p>

		<h2>Chat with me</h2>

		<p>
			I have an open <a href="https://meet.dscanlon.com">Meet</a> link where you can schedule a 15-minute call with me. 
			I've had many great conversations and have kept in touch with many of the people I've met this way. If we have mutual interests, I'd love to meet you.
		</p>

		<h2>Music</h2>

		<p>
			Beyond computing, I'm a drummer in the band Twin Bath (PA, US; recording its debut album in 2024), and the former drummer of <a href="https://open.spotify.com/artist/6pYbfxe0h2L6qwCCIKJVJM?si=k6jrXjemScOtUi41x7Km_w">The Drowned God</a> (Solid State Records).
		</p>

		<hr />

		<h2>This site</h2>

		<p>
			This site uses the <a href="https://stephango.com/flexoki">Flexoki</a> color scheme by <a href="https://stephango.com">Steph Ango</a>. The font families are IBM Plex Sans and Fira Code.
		</p>
	</main>
</Page>
