---
import FormattedDate from '../components/FormattedDate.astro';
import Page from '../layouts/Page.astro';

// !!! UPDATE THIS DATE WHEN YOU UPDATE THE PAGE !!!
const updatedAt = new Date('2024-02-12');
---

<Page
	title="What I'm doing now"
	description="I'm currently the CTO of Genesis and the author and principal architect of Passes."
>
	<main class="space-y-5 py-10">
		<main class="space-y-1">
			<h1 class="text-2xl">
				What I'm doing now
			</h1>
			<div class="text-sm text-gray-500">
				Last updated <FormattedDate date={updatedAt} />
			</div>
		</main>
		
		<h2 class="text-lg">
			Currently
		</h2>
	
		<ul class="list-disc list-inside">
			<li><span class="text-gray-500 sm:w-28 inline-block">' Oct 2021</span> Co-founder and CTO of Genesis</li>
			<li><span class="text-gray-500 sm:w-28 inline-block">' Sept 2023</span> Author of Passes</li>
			<li><span class="text-gray-500 sm:w-28 inline-block">' Oct 2023</span> Drummer of Twin Bath</li>
		</ul>

		<hr />

		<h2 class="text-lg">
			Previously
		</h2>
	
		<ul class="list-disc list-inside">
			<li><span class="text-gray-500 sm:w-28 inline-block">2017 &rarr; 2021</span> Head of Engineering at Futurism.com</li>
			<li><span class="text-gray-500 sm:w-28 inline-block">2014 &rarr; 2023</span> Drummer of The Drowned God (Solid State Records)</li>
			<li><span class="text-gray-500 sm:w-28 inline-block">2013 &rarr; 2015</span> Co-founder and CEO of Present, an early / now defunct, social livestreaming app</li>
		</ul>
	</main>
</Page>
