---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex items-center justify-between">
		<h2 class="text-xl">
			<a class="font-light" href="/">{SITE_TITLE}</a>
		</h2>
		<div class="flex gap-3">
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/now">Now</HeaderLink>
		</div>
	</nav>
</header>
